@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

body {
	max-width: 1280px;
	box-sizing: border-box;
	margin: 0 auto;
    font-family: "Epilogue", sans-serif;
    font-weight: 600;
}

h1 {
	font-size: 68px;
	line-height: 70px;
}

h2 {
	font-size: 32px;
	line-height: 42px;
}

h3 {
	font-size: 27px;
	line-height: 42px;
	text-align: center;
}

h4 {
	font-size: 20px;
	line-height: 30px;
}

a {
	text-decoration: none;
	color: #2D2D2D;
}

p {
	font-weight: 400;
}

.btn {
	display: flex;
	padding: 24px 64px;
	background-color: #2D2D2D;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 42px;
}

.navigation ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: #2D2D2D;
}

.navigation__item {
	padding: 0px 10px;
}

.navigation__item a {
	position: relative;
}

.navigation__item a:after {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 2px; 
	left: 0;
	background-color: #009379;
	transition: width 0.2s ease-out;
}

.navigation__item a:hover:after,
.navigation__item a:focus:after {
	width: 100%;
}

.logo {
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
}

.intro {
	display: flex;
	justify-content: space-between;
	padding: 48px;
}

.intro__profile {
	display: flex;
	flex-direction: column;
}

p.intro__profile-subtitle {
	padding-top: 10px;
	padding-bottom: 20px;
	font-size: 20px;
}

p.intro__profile-description {
	font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    margin: 0;
    padding-top: 17px;
    padding-bottom: 35px;
}

.intro__profile-btn {
	max-width: 170px;
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
	background-color: #2D2D2D;
	border: 1px solid #2D2D2D;
	color: #fff;
	text-align: center;
	transition: background-color 0.5s ease-in-out;
}

.intro__profile-btn:hover {
	background-color: #fff;
	color: #2D2D2D;
	transition: background-color 0.5s ease-in-out;
}

.brands {
	margin-bottom: 90px;
	padding: 24px;
	display: flex;
	justify-content: space-between;
	align-self: center;
}

.brands__item {
	width: 20%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.brands__item a {
	transition: filter 0.2s ease-in-out;
}

.brands__item a:hover {
	filter: drop-shadow(0 0 10px #999);
	transition: filter 0.2s ease-in-out;
}

.services {
	padding: 24px;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.services__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 400px;
	padding: 0px 20px;
}

.services__item:first-child {
	padding-left: 0px;
}

.services__item:last-child {
	padding-right: 0px;
}

.services__item p {
	text-align: center;
}

.services__img {
	width: 124px;
	height: 124px;
	margin: 0 auto;
}

.latest-work {
	padding: 24px;
}

.latest-work__title,
.testimonial__title {
	text-align: center;
}

.latest-work__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.latest-work__item {
	padding-bottom: 24px;
	transition: filter 0.2s ease-in-out;
}

.latest-work__item:hover {
	filter: saturate(200%);
	transition: filter 0.2s ease-in-out;
}

.testimonials {
	padding: 24px;
}

.testimonials__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.testimonials__item {
	display: flex;
	flex-direction: column;
	max-width: 395px;
	padding: 24px;
	margin-bottom: 24px;
	box-sizing: border-box;
	background-color: #F3F3F3;
}

.testimonials__item h4,
.testimonials__item p {
	margin: 0px;
	padding: 0px;
}

.testimonials__item p.testimonials__item-title {
	margin-bottom: 50px;
}

.testimonials__item-block {
	display: flex;
}

.testimonials__item-avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 15px;
}

.contact-form {
	display: flex;
	flex-direction: column;
}

.footer__wrapper {
	display: flex;
	justify-content: space-between;
}

.footer {
	padding: 24px;
}

.footer__social {
	width: 50%;
	max-width: 570px;
}

.footer__social-link {
	width: 36px;
	height: 36px;
	margin-right: 15px;
}

.footer__form {
	display: flex;
	flex-direction: column;
	width: 50%;
}
.contact-form__input {
	height: 60px;
	max-width: 520px;
	min-width: 320px;
	padding: 16px 24px 16px 24px;
}

.checked {
 	color: #ffd700;
}

.footer__form {
	max-width: 520px;
}

.footer__form-btn {
	max-width: 200px;
	margin-top: 10px;
	padding: 20px;
	font-size: 17px;
	font-weight: 400;
	line-height: 27px;
	background-color: #2D2D2D;
	border: 1px solid #2D2D2D;
	color: #fff;
	text-align: center;
	transition: background-color 0.5s ease-in-out;
}

.footer__form-btn:hover {
	background-color: #fff;
	cursor: pointer;
	color: #2D2D2D;
	transition: background-color 0.5s ease-in-out;
}

 .footer__form-input {
 	width: 100%;
	height: 60px;
	padding: 16px 24px;
	box-sizing: border-box;
	margin-bottom: 10px;
 }
